<h1> Treatments </h1>

<div class="card">
  <div class="card-body">
    <% @treatments.each do |treatment| %>
        <%= link_to treatment_trackers_path(treatment), class: "card-link" do %>
        <div>
        <div class="card-treatment-info">
        <h2><%= treatment.skin_condition %></h2>
        </div>
      </div>
        <% end  %>
    <% end %>
  </div>
</div>

<div class="cards-group"><%= link_to "Add New Treatment", new_treatment_path %></div>
