<h1 class="treatment-header"> Your Treatments </h1>

<div class="all-cards-treatment">
  <div class="card-treatment">
    <% @treatments.each do |treatment| %>
      <h2> <%= link_to treatment_trackers_path(treatment), class: "card-link" do %>
       <div>
        <div class="card-treatment-info">
        <h2><%= treatment.skin_condition %></h2>
        </div>
      </div>
    <% end %>
  <% end %>
  </h2>
 </div>
</div>



<div class="card-add-treatment">
   <h3><%= link_to "New Treatment", new_treatment_path %></h3>
</div>
