<h1>Treatment#index</h1>
<p>Find me in app/views/treatment/index.html.erb</p>

<%  @treatments.each do |treatment| %>
  <p> <%= treatment.skin_condition %>
    <%= link_to "Dashboard", treatment_trackers_path(treatment) %>
  <p>
<% end %>

<%= link_to "Add Treatment", new_treatment_path %>
