#page-container {
  position: relative;
  //min-height: 100%;
  min-height: 100vh;
  // background: #fafafa;

}

#content-wrap {
  // padding-bottom: 2.5rem;    /* Footer height */
  overflow:auto;
  padding-bottom: 150px;
}

#yield-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 60px;
}

// #background {
//   background-color
// }

#dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

#dashboard h3 {
  font-size: $size-body-m;
}

#dashboard h2 {
  font-weight: bolder;
}

a {
  font-family: $body-font;
  font-weight: normal;
  text-decoration: none !important;
  color: $grey-2 !important;
}

body {
background: rgb(213,207,255);
background: radial-gradient(circle, rgba(213,207,255,0.22247191011235956) 5%, rgba(213,207,255,0.11910112359550562) 95%);
}

.treatment-header h1 {
  font-weight: bold;
}

h1 {
  color: $header-color;
  font-family: $headers-font;
  // font-weight: bolder;
}

h2 {
  color: $header-color;
  font-family: $headers-font;
}

h3 {
  font-family: $body-font;
  font-weight: thin;
}

h4 {
  font-family: $body-font;
  font-weight: light !important;
  font-size: 10px !important;
}

p {
  font-family: $body-font;
  color: $grey-2;
  font-size: 12px;
  font-weight: extra-light !important;
}

#border-radius {
  border-radius: 11px;
}
