.tracker-display {
  display: flex;
  // margin: 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.tracker p {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 2px;
    flex-wrap: wrap;
  }

  .bg-color-blue {
    background-color: $skincare;
  }

  .bg-color-green {
    background-color: $environmental;
  }

  .bg-color-red {
    background-color: $lifestyle;
  }

  .simple-calendar {
    font-family: $headers-font !important;

    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    border-radius: 11px;
    width: 100%;
    margin-top: 15px;
    padding-top: 10px;
    justify-content: flex-start;


    td {
      text-align: start !important;
      width: 120px !important;
      &.future.current-month{
        background-color: white !important;
      }
      &.today.current-month{
        background-color: white !important;
      }
      &.past.current-month{
        background-color: white !important;
      }
      &.future.next-month{
        background-color: white !important;
      }
      &.past.prev-month{
        background-color: white !important;
      }
    }

    .calendar-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 5px;
      margin-right: 5px;

      a {
        width: 75px !important;
        text-align: right !important;
      }
    }

    .calendar-title {
      margin-left: 30px;
      margin-bottom: 2px;
      font-weight: bold !important;
      font-size: 16px !important;
    }
  }
