.tracker p {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  .bg-color-blue {
    background-color: blue;
  }

  .bg-color-green {
    background-color: green;
  }

  .bg-color-red {
    background-color: red;
  }
