.form{
  display: flex;
  position: relative;
  margin: -51px;
  margin-top: 8px;
  // border: 3px solid #BBDEFB;
  background-color: white;
  border-radius: 11px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 17px;
  // height: 500px;
  // width: 300px;
}

.slider{
  position: relative;
  z-index: 100;
  -webkit-appearance: none;
  appearance: none;
  background: #BBDEFB;
  outline: none;
  width: 100%;
  height: 4px;
  border-radius: 3px;
  -webkit-transition: .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  z-index: 100;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #FFC65A;
}

.slider:hover {
  opacity: 1;
}

.title{
  margin-bottom: 15px;
  font-family: $headers-font;
  font-size: $size-body-l;
}

.notes{
  font-family: $headers-font;
}

// .photo{
// }

.save{
  text-align: center;
  font-family: $body-font;
}

.notes textarea{
  height: 263px;
}

.dareos{
  // background-color: #FFC65A;
  color: grey;
  font-size: 25px;
  border: 1px dotted grey;
  border-radius: 11px;
  // margin-left: 5px;
  padding: 7px;
}

.form-treatment {
  width: 139%;
  position: relative;
  background-color: white;
  border-radius: 11px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  height: 500px;
}

.range-labels {
  // margin: 18px -41px 0;
  padding: 0;
  list-style: none;
  width: 99%;
  margin-top: -3px;
  display: flex;
  justify-content: space-between;

  li {
    position: relative;
    float: left;
    // width: 100%;
    text-align: center;
    color: white;
    font-size: 1rem;
    cursor: pointer;

    &::before {
      position: absolute;
      top: -13px;
      right: 0;
      left: 0;
      content: "";
      margin: 0px auto ;
      width: 8px;
      height: 8px;
      background: #BBDEFB;
      border-radius: 50%;
    }
  }
  li:nth-child(1)::before{
    left: 1px;
  }
}

.thumbs{
  padding-left: 0rem;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: -42px;
  color: $grey-2;
}


#form-font {
  font-family: $headers-font;
}

.nice-class {
  font-family: $body-font;
}

 // #find a new name{
 //   border-radius: 10px;
 //   display: flex;
 //   justify-content: space-around;
 //   border: 1px solid;
 //   margin: 10px;
 //   margin-top: 69px;
 //   box-shadow: 0 0 20px #BBDEFB;
 // }

 // #find a new name h1{
 //   margin-top: 20px;
 //   margin-bottom: -8px;
 // }
