.ml7 {
  position: relative;
  font-weight: 900;
  font-size: 2.5em;

}
.ml7 .text-wrapper {
  //position: relative;
  display: inline-block;
  //padding-top: 6em;
  //padding-right: 0.05em;
  //padding-bottom: 6em;
  overflow: hidden;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

.image_tag {
    //display: block;
    //margin: auto 0;
    max-height: 95vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100%;

    //margin-right: auto;
    //margin-top: 50px;
}

 h2 {
  color: $header-color !important;
  //display: block;
  //margin-left: auto;
  //margin-right: auto;
}

.stretched-link {
  overflow: hidden;

}


