<div class="footer fixed-bottom">
  <div class="footer-elements">
    <div class="footer-links">

      <a href="/treatments"><i class="fas fa-home"></i></a>

<!--       <i class="fas fa-calendar-alt"><%# link_to treatment_trackers_path(@treatment_id) %></i>
 -->
      <% if @treatment %>
        <%= link_to treatment_trackers_path(@treatment), class: "fas fa-calendar-alt" do %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


