.btn-category {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-category p {
  font-size: 12px;
  text-align: center;
}

.btn.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width:  3rem;
  height: 3rem;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 10px;
}

.btn.btn-skincare {
  background-color: $skincare;
}

.btn.btn-environmental {
  background-color: $environmental;
}

.btn.btn-lifestyle {
  background-color: $lifestyle;
}

#save-button{
  border: none!important;
  margin-top: 3px;
  background-color: $info-color;
  padding: 10px 20px 10px 20px;
  border-radius: 11px;
  color: $grey-5;
}
.progress-button {
  border: none!important;
  margin-top: 3px;
  margin-left: 40px;
  text-align: center;
  background-color: $info-color;
  padding: 10px 10px 10px 10px;
  border-radius: 11px;
  color: $grey-5;
  width: 15rem;
}

.progress-button a {
   color: $grey-5 !important;
}

// #save-button:hover {
//   box-shadow: 0 0 2px;
//   -webkit-transition: .2s;
// }
#c {
  font-size: 1.5rem;
  color: $grey-5;
}

#i {
  font-size: 1.5rem;
  color: $grey-5;
}

.far.fa-water {
  margin-left: 10px;
}

#treatment-button {
  margin-top: 30px;
  background-color: $info-color;
  border-radius: 5px;
  color: $grey-5 !important;
  font-family: $body-font;
}



// #treatment-button:hover {
//   box-shadow: 0 0 2px;
//   -webkit-transition: .2s;
// }

// .btn-icon:hover {
//   color: $primary-color;
// }
