.tracker p {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  .bg-color-blue {
    background-color: $skincare;
  }

  .bg-color-green {
    background-color: $environmental;
  }

  .bg-color-red {
    background-color: $lifestyle;
  }
