.navbar-lewagon {
  // display: flex;
  justify-content: space-between !important;
  background: $primary-color;
  box-shadow: 0 0 15px rgba(0,0,0,.2);
}

.navbar-brand span {
  font-family: $body-font;
  font-size: $size-body-l;
  font-weight: bold;
  color: #005f99;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
