<h1>Trackers#index</h1>
<p>Find me in app/views/trackers/index.html.erb</p>

<%= week_calendar(events: @trackers) do |date, trackers| %>
  <%= date %>

  <% trackers.each do |tracker| %>
    <div class="tracker">
      <% if tracker.category.group == "skincare" %>
        <p class="bg-color-blue"> </p>
      <% elsif tracker.category.group == "environmental" %>
        <p class="bg-color-green"> </p>
      <% elsif tracker.category.group == "lifestyle"  %>
        <p class="bg-color-red"> </p>
      <% end %>
    </div>
  <% end %>
<% end %>
