<h1>Your Progress Gallery</h1>
<p>Hello <%= current_user.full_name %> | You are in your treatment for <%= current_user.treatment %></p>

<%= week_calendar(events: @trackers) do |date, trackers| %>
  <%= date.strftime("%e") %>
<% end %>

<% trackers.each do |tracker| %>
  <div class="tracker">
      <img class="tracker-circle" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  </div>
<% end %>

