<div class="card" style="width: 18rem;">
  <div class="card-body">
      <div class ="card-group">
        <h5 class="card-title">Skin care</h5>
          <div class="btn-icon">
          <% @skincare.each do |skincare| %>

            <div id="btn-icon medication">
              <%= link_to skincare.title.capitalize, new_treatment_tracker_path(group: skincare.group) %>
            </div>
          <% end %>
        </div>
      </div>

        <h5 class="card-title">Environmental</h5>
          <% @environmental.each do |environmental| %>
          <button class="btn-category">
          <%= link_to environmental.title.capitalize, new_treatment_tracker_path(group: environmental.group) %>
          </button>
        <% end %>

        <h5 class="card-title">Lifestyle</h5>
          <% @lifestyle.each do |lifestyle| %>
          <button class="btn-category">
          <%= link_to lifestyle.title.capitalize, new_treatment_tracker_path(group: lifestyle.group) %>
          </button>
        <% end %>


  </div>
</div>



