<div class="card" style="width: 18rem;">
  <div class="card-body">

        <h5 class="card-title">Skin care</h5>
          <% @skincare.each do |skincare| %>
            <button class="btn-icon" id="i">
              <div class="btn-align">
                <%= link_to skincare.title.capitalize, new_treatment_tracker_path(group: skincare.group), id: "skincare" %>
              </div>
            </button>
          <% end %>

        <h5 class="card-title">Environmental</h5>
          <% @environmental.each do |environmental| %>
          <button class="btn-icon" id="e">
            <div class="btn-align">
              <%= link_to environmental.title.capitalize, new_treatment_tracker_path(group: environmental.group), id: "environmental" %>
            </div>
          </button>
        <% end %>

        <h5 class="card-title">Lifestyle</h5>
          <% @lifestyle.each do |lifestyle| %>
          <button class="btn-icon" id="l">
          <%= link_to lifestyle.title.capitalize, new_treatment_tracker_path(group: lifestyle.group), id: "lifestyle" %>
          </button>
        <% end %>

  </div>
</div>

